[Desktop Entry]
Type=Application
Exec=nvidia-settings --assign CurrentMetaMode="nvidia-auto-select +0+0 { ForceFullCompositionPipeline = On }"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=fix_screen_tearing
Name=fix_screen_tearing
Comment[en_US]=
Comment=
